
<table>
	<tr>
		<td>Identifiant</td>
		<!--<td>Categorie des compétences</td>-->
		<td>Compétence</td>
	</tr>
	{% for competence in listeCompetences %}
		<tr>
			<td></td>
			<!--<td></td>-->
			<td>{{ competence.intitule }}</td>
		</tr>
	{% endfor %}
</table>